body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
  }
  
  .A1 {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 450px;

  }


  .box {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #4CAF50;
    height: 700px;
    width: 800px;
    text-align: center;
    margin-left: 340px;
    margin-bottom: 500px;
  }

  .Para{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    font-size: 24px;
  }

  .Head1{
    font-size: 33px;
    padding-left: 14%;
    padding-right: 14%;
  }
  